<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- TODO: Add your App Insights Key here-->
  <InstrumentationKey>00000000-0000-0000-0000-000000000000</InstrumentationKey>
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.PerformanceCollectorModule, Microsoft.AI.PerfCounterCollector">
      <DefaultCounters/>
      <Counters>
        <Add PerformanceCounter="\Processor(_Total)\% Processor Time" ReportAs="Total Processor Time" />
        <Add PerformanceCounter="\.NET CLR Exceptions(??APP_CLR_PROC??)\# of Exceps Thrown / sec" ReportAs="CLR Exceptions(??APP_CLR_PROC??)" />
        <Add PerformanceCounter="\Memory\Available MBytes" />
        <Add PerformanceCounter="\LogicalDisk(_Total)\% Free Space" />
        <Add PerformanceCounter="\PhysicalDisk(_Total)\Avg. Disk Read Queue Length" />
        <Add PerformanceCounter="\PhysicalDisk(_Total)\Avg. Disk Write Queue Length" />
      </Counters>
      <!--
      Use the following syntax here to collect additional performance counters:
      
      <Counters>
        <Add PerformanceCounter="\Process(??APP_WIN32_PROC??)\Handle Count" ReportAs="Process handle count" />
        ...
      </Counters>
      
      PerformanceCounter must be either \CategoryName(InstanceName)\CounterName or \CategoryName\CounterName
      
      NOTE: performance counters configuration will be lost upon NuGet upgrade.
      Following may also help: https://github.com/Microsoft/ApplicationInsights-dotnet-server/blob/2a681f5399a6aaee554fa2d93a1d6447a8402fe1/Src/PerformanceCollector/Shared/PerformanceCollectorModule.cs
     
      The following placeholders are supported as InstanceName:
        ??APP_WIN32_PROC?? - instance name of the application process  for Win32 counters.
        ??APP_W3SVC_PROC?? - instance name of the application IIS worker process for IIS/ASP.NET counters.
        ??APP_CLR_PROC?? - instance name of the application CLR process for .NET counters.
        
      From powershell - examples to help find counters: 
         Get-Counter -ListSet *
         Get-Counter -ListSet "PhysicalDisk*"
         (Get-Counter -ListSet "Process").Counter  
      -->
    </Add>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryModule, Microsoft.AI.PerfCounterCollector"/>
  </TelemetryModules>
  <TelemetrySinks>
    <Add Name="default">
      <TelemetryProcessors>
        <Add Type="Microsoft.ApplicationInsights.Extensibility.PerfCounterCollector.QuickPulse.QuickPulseTelemetryProcessor, Microsoft.AI.PerfCounterCollector"/>
      </TelemetryProcessors>
    </Add>
  </TelemetrySinks>
</ApplicationInsights>